@import url('fonts.css');
@import url('lineicons.css');

body {
  font-family: 'IRANSansX', iranyekan, sans-serif !important;
}

#plugin_settings {
  padding: 0 0 20px 20px;
  line-height: 2;
}

#plugin_settings *,
#plugin_settings *::before,
#plugin_settings *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#plugin_settings h1,
#plugin_settings h2,
#plugin_settings h3,
#plugin_settings h4,
#plugin_settings h5,
#plugin_settings h6 {
  font-family: 'IRANSansX', iranyekan, sans-serif !important;
  font-weight: normal;
}

#plugin_settings h2 {
  background: rgb(255, 255, 255);
  border-right: 5px solid rgb(104, 104, 104);
  padding: 10px 20px;
  font-weight: 600;
}

#plugin_settings h2 + p {
  background: rgb(255, 241, 216);
  border-right: 5px solid rgb(255, 218, 150);
  padding: 10px 20px;
}

#plugin_settings .description {
  background: rgb(205, 232, 255);
  border-right: 5px solid rgb(148, 207, 255);
  padding: 10px 20px;
  font-weight: 500;
  display: block;
  margin-top: 0.25rem;
  width: 60%;
}

#plugin_settings input[type='text'],
#plugin_settings textarea {
  width: 60%;
  margin-bottom: 0;
}

#plugin_settings input[type='text'],
textarea {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 0;
  padding: 5px 10px;
  line-height: 2;
}

input[type='button'],
input[type='submit'],
button {
  padding: 5px 20px !important;
}

input:disabled {
  width: auto !important;
}

.content-alignment .container-content {
  display: inline-block;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 15px;
}

.content-alignment .container-content img {
  width: 100px;
  height: 100px;
}

#plugin_settings img {
  max-width: 100%;
}

/* Settings sections buttons */

#plugin_settings #settings-sections {
  display: flex;
}

#plugin_settings #settings-sections li {
  padding: 0.25rem;
}

#plugin_settings #settings-sections li a {
  background: #fff;
  display: block;
  padding: 0.5rem 1rem;
  border: 2px solid #135e96;
  text-decoration: none;
  border-radius: 0.25rem;
  outline: none;
  color: #333;
}

#plugin_settings #settings-sections li a.current {
  background: #135e96;
  border-color: #135e96;
  color: #fff;
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  #plugin_settings input[type='text'],
  #plugin_settings textarea,
  #plugin_settings .description {
    width: 100%;
  }
}
